{% extends "base.html" %}



    <title>{% block title %}Home{% endblock title %}</title>
    {% block style %}
    <style>
      /* CSS to center the carousel horizontally and vertically */
      #carouselExampleCaptions {
        margin-top: 50px; /* Adjust the top margin as needed */
      }
    
      .carousel-item img {
        width: 100%;
        height: 530px; /* Adjust the height as needed */
        object-fit: cover;
      }
    
      .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Set the carousel height to 100% of viewport height */
      }
    
      .carousel-inner {
        max-width: 80%; /* Limit the width of the carousel content */
      }
    </style>
    {% endblock style %}
    
    {% block body %}
   
    
   
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static',filename='image55.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Natural Language Processing (NLP)</h5>
            <p>NLP continues to advance, enabling machines to understand and generate human language more effectively. Titles might include: "NLP Engineer," "Conversational AI Specialist," or "Language Data Scientist."</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="s{{ url_for('static',filename='image56.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Interdisciplinary Applications</h5>
            <p>Machine learning techniques are increasingly applied across various domains, including healthcare, finance, retail, and transportation, to solve complex problems and extract valuable insights from data.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static',filename='image57.jpg') }}" class="d-block w-100" alt="image2">
          <div class="carousel-caption d-none d-md-block">
            <h5>OpenCV Vs. MediaPipe</h5>
            <p>
              OpenCV excels in traditional computer vision tasks with extensive functionality and cross-platform compatibility, while MediaPipe specializes in real-time multimedia processing, particularly on mobile and edge devices, with a growing ecosystem of pre-built solutions.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  
    {% endblock body %}