{% extends "base.html" %}
    <title>{% block title %}Machine Learning Mcqs{% endblock title %}</title>
    {% block style %}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .centered-div {
        padding: 20px;
        text-align: center;
    }
    .video-container {
        position: fixed;
        top: 200px;
        right: -52px;
        width: 320px;
        height: 240px;
    }
    .video {
        width: 80%;
        height: 80%;
    }
</style>
{% endblock style %}
</head>

<body>
    {% block body %}
    
    <div class="container">
        <div class="centered-div">
    
            <p>Look Forward Otherwise You will Out</p>
            
                
         
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdAPzFfDiH6iu5HTWv3CdiCltn2wj2TiLCDHMCgCXCdtY6sGw/viewform?embedded=true" width="640" height="3256" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
<div class="video-container">
    <img class="video" src="{{ url_for('startcam') }}" alt="Webcam Feed" id="video">
</div>
</div>
<script>
    async function checkRedirect() {
        const response = await fetch('/check_redirect');
        const data = await response.json();
        if (data.redirect) {
            window.location.href = "/test";
        } else {
            setTimeout(checkRedirect, 1000); // Check every second
        }
    }

    // Start checking for redirection
    checkRedirect();
</script>

    {% endblock body %}
