{% extends "base.html" %}

    {% block title %}Python Mcqs{% endblock title %}
    
{% block style %}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .centered-div {
        padding: 20px;
        text-align: center;
    }
</style>
{% endblock style %}
    

{% block body %}
<div class="container">
    <div class="centered-div">
    <a href="{{ url_for('startcam') }}" ><h2>Start<h2></a>
        <p>Look Forward Otherwise You will Out</p>
    <iframe id="form-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLScVi0Mk42tYP3KxRpnzp2b79inWnUjbktJdFhgUDwQbIWPqeA/viewform?embedded=true" width="640" height="3616" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
</div>




{% endblock body %}
